apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: operator-demo
    app.kubernetes.io/managed-by: kustomize
  name: webhook-service
  namespace: system
spec:
  ports:
    - port: 443
      protocol: TCP
      targetPort: 9443
  # 本地调试注释，防止自动扫描生成 Endpoints
  #selector:
  #  control-plane: controller-manager
  #  app.kubernetes.io/name: operator-demo
---
# 本地调试时取消注释
apiVersion: v1
kind: Endpoints
metadata:
  name: webhook-service
  namespace: system
subsets:
  # 地址填写本地
  - addresses:
      - ip: 192.168.52.133
    ports:
      - port: 9443
        protocol: TCP

